APP_NAME=AgentPlatform
ENVIRONMENT=development

DB_HOST=localhost
DB_PORT=5432
POSTGRES_DB=crucibleaiagents
POSTGRES_USER=[YOUR DB USERNAME HERE]
POSTGRES_PASSWORD=[YOUR DB PASSWORD HERE]
SECRETS_ENCRYPTION_KEY=[YOUR KEY HERE]
PACKAGE_WATCHER_BASE_DIR=[YOUR DIRECTORY FOR PACKAGE WATCHER HERE]
API_BASE_URL=http://localhost:8000
API_TOKEN=
WATCHER_POLL_INTERVAL=5
LOG_LEVEL=INFO